<template>
    <div class="container" style="max-width: 100%">
        <div class="row">
            <div class="col col-xl-10 col-9">
                <div class="row scroll">
                    <template
                            v-for="(album, key) in albums"
                        >
                        <div
                                class="col col-xl-2 col-4"
                                :key="key"
                            >
                            <div class="row">
                                <div class="col col-12 negro text-light">
                                    <p class="text-center">
                                        <strong v-text="album.name" />
                                        <br>{{album.artist}}
                                    </p>
                                    <img
                                            :src="album.path + 'folder.jpg'"
                                            data-toggle="collapse"
                                            :data-target="'#collapseSong' + key"
                                            style="cursor:pointer"
                                        >
                                    <div class="collapse" :id="'collapseSong' + key">
                                        <ul class="list-group albums">
                                            <li
                                                    v-for="(song, key) in album.songs"
                                                    @click="ADD_SONG_LIST(song)"
                                                    class="list-group-item"
                                                    style="cursor: pointer"
                                                    :key="key"
                                                >
                                                {{song.name.slice(0, -4)}}
                                                <i
                                                    class="material-icons"
                                                    v-text="'playlist_add'"
                                                    style="float: right"
                                                />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <div class="col col-12 h50" />
                </div>
            </div>
            <div class="col col-xl-2 col-3 scroll2">
                <ul class="list-group playlist">
                    <h4 class="text-center play">
                        Playlist
                        <i
                            @click="PLAY"
                            v-if="SONG_LIST.length"
                            class="material-icons"
                            v-text="ENDED ? 'play_arrow' : 'fast_forward'"
                            style="float: right; cursor: pointer"
                        />
                        <i
                            @click="STOP"
                            v-if="!SONG_LIST.length && !ENDED"
                            class="material-icons"
                            v-text="'stop'"
                            style="float: right; cursor: pointer"
                        />
                    </h4>
                    <li
                            v-for="(song, key) in SONG_LIST"
                            class="list-group-item"
                            :key="key"
                        >
                        {{song.name.slice(0, -4)}}
                        <i
                            @click="REMOVE_SONG_LIST(key)"
                            class="material-icons"
                            v-text="'delete_forever'"
                            style="float: right; cursor: pointer"
                        />
                    </li>
                </ul>
            </div>
            <marquee v-text="MARQUEE" />
        </div>
    </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
    data() {
        return {
            albums: []
        }
    },
    methods: {
        ...mapMutations([
            'ADD_SONG_LIST',
            'REMOVE_SONG_LIST'
        ]),
        ...mapActions([
            'PLAY',
            'STOP'
        ]),
        getDir() {
            $.get(
                './?get-dir',
                dir => {
                    this.albums = dir
                },
                'json'
            )
        }
    },
    computed: {
        ...mapGetters([
            'SONG_LIST',
            'MARQUEE',
            'ENDED'
        ])
    },
    mounted() {
        this.getDir()
    }
}
</script>