body, html,
.container, .scroll,
.container > div, .container > div > div {
    height: 100%;
    max-height: 100%;
}
body {
    background-size: 100%;
    margin: 0;
    padding: 0;
}
.negro, .gris {
    padding-top: 10px;
    padding-bottom: 10px;
}
.negro {
    background-color: rgba(35, 26, 45, 0.9);
}
img {
    width: 100%;
}
h4.play, strong {
    color: yellow;
    text-shadow: 2px 2px 5px red;
}
h4.play {
    line-height: 60px;
}
h4.play i {
    font-size: 60px;
}
.h50 {
    height: 50px;
}
.albums .list-group-item {
    background-image: linear-gradient(#4c4165, #3b2946);
    border-bottom: 1px solid #000;
    color: #ffff97;
    font-size: 12px;
    padding: 1rem .5rem;
    text-shadow: 1px 1px 3px #bd0707;
}
.albums .material-icons {
    font-size: 15px;
}
.scroll {
    overflow-x: auto;
    overflow-y: scroll;
    scrollbar-color: #484050 #383040;
}
.scroll::-webkit-scrollbar-track
{
	background-color: #383040;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
.scroll::-webkit-scrollbar-thumb
{
	background-color: #484050;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
.scroll2 {
    overflow-x: hidden;
    overflow-y: auto;
}
.playlist li .material-icons {
    font-size: 20px;
}
.playlist .list-group-item {
    background-color: #261D2F;
    border-bottom: 1px solid #4c4c4c;
    color: #ffffff;
    font-size: 12px;
    text-shadow: 1px 1px 3px black;
}
marquee {
    bottom: 0;
    color: white;
    font-size: 50px;
    position: fixed;
    text-shadow: 1px 1px 5px black;
}